{
  "data_dir": "/var/consul",
{% if consul_run_server is defined and consul_run_server %}
  "bootstrap_expect": 1,
  "server": true,
{% else %}
  "start_join": [ "{{ consul_server }}" ],
{% endif %}
  "encrypt": "ct2P1ee+bOb6BJfxj1Gj/g=="
}
