[Unit]
Description=Consul Agent
StartLimitIntervalSec=0

[Service]
User=root
Restart=always
RestartSec=5
ExecStart=/usr/sbin/consul agent -config-dir=/etc/consul.d

[Install]
WantedBy=multi-user.target
