---

OS_AUTH_URL: https://keystone.cloud.syseleven.net:5000/v3
OS_IDENTITY_API_VERSION: 3
OS_PROJECT_ID: 26cfbd9d4ee64d8faecd287bb39d3870
OS_USER_DOMAIN_NAME: Default
OS_INTERFACE: public
OS_ENDPOINT_TYPE: public
OS_USERNAME: r.nurgaliyev@syseleven.de
OS_PASSWORD: <API SECRET GOES HERE>
OS_REGION_NAME: cbk
OS_PROJECT_NAME: syseleveneigenbedarf-syseleven-employee-rnurgaliyev

SSH_KEY: |
  -----BEGIN RSA PRIVATE KEY-----
  ... some private rsa key goes here...
  -----END RSA PRIVATE KEY-----

